<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Contul meu</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel = "shortcut icon" type = "image/x-icon" href="/images/favicon.ico"/>
		<link rel="stylesheet" href="/stylesheets/dashboard.css" type = "text/css">
	</head>
	<body>
		<header>
			<h1>Biletele mele</h1>
		</header>
		
		<% if (locals.user) { %>
		<nav class="sidenav">
			<a href="/dashboard/info">Date personale</a>
			<a href="/dashboard/security">Setări securitate</a>
			<a href="/dashboard/tickets" id="active">Biletele mele</a>
			<a href="/dashboard/settings">Setări cont</a>
			<% if (locals.user.isAdmin == 1) { %>
			<a href="/dashboard/users">Administrare utilizatori</a>
			<% } %>
			<a href="/">Pagina principală</a>
		</nav>
		<% } %>
				
		<main>
			<% if (!locals.user) { %>
				<p>Pentru a vă putea administra contul, este necesar să vă <a href="/login">conectați!</a></p>
			<% } else { %>
				<p>Atenție! Anularea unui bilet este ireversibilă!</p>
				<table>
					<thead>
						<td>Cod rezervare</td>
						<td>Cod bilet</td>
						<td>Tip bilet</td>
						<td>Film</td>
						<td>Data și ora</td>
						<td>Sală, rând și loc</td>
						<td></td>
					</thead>
					<tbody>
						<% for (let i = 0; i < locals.ticketData.length; i++) { %>
						<tr>
							<td><%= locals.ticketData[i].resCode %></td>
							<td><%= locals.ticketData[i].code %></td>
							<td><%= locals.ticketData[i].type %></td>
							<td><%= locals.ticketData[i].name %></td>
							<td><%= locals.ticketData[i].date %>, <%= locals.ticketData[i].time %></td>
							<td>Sala <%= locals.ticketData[i].room %>, Rând <%= locals.ticketData[i].row %>, Loc <%= locals.ticketData[i].seat %></td>
							<td><a href="/deleteticket?id=<%= locals.ticketData[i].code %>&user=<%= locals.user.id %>">Anulează bilet</a></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			<% } %>
		</main>
		<footer>
			
		</footer>
	</body>
</html>