<div class = "<%= movie.genre %> movieItem">
    <a href = "/film?id=<%= movie.id %>" class = "<%=movie.id %>">
        <h1 class = "movieName"><%= movie.name %> (<%= movie.year %>)</h1>
        <h2> <%= movie.genre %> </h2>
		<p class = "duration"><%= movie.time %> min </p>
        <p class = "distribution">Distributie: <%= movie.actor %> </p>
        <img src = "<%= movie.poster %>" alt = "<%= movie.name %>">
    </a>
</div>