<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Administrare site</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel = "shortcut icon" type = "image/x-icon" href="/images/favicon.ico"/>
		<link rel="stylesheet" href="/stylesheets/dashboard.css" type = "text/css">
		<script>
			function eroare() {
				alert("Funcționalitate încă neimplementată!")
			}
		</script>
	</head>
	<body>
		<header>
			<h1>Filme</h1>
		</header>
		
		<nav class="sidenav">
			<a id="active" href="/admin/movies">Filme</a>
			<a href="/admin/users">Utilizatori</a>
			<a href="/">Pagina principală</a>
		</nav>
		
		<main>
			<% if (!locals.user || locals.user.isAdmin == 0) { %>
				<p>Această secțiune este destinată administratorilor!<br/>
				<a href="/login">Login</a></p>
			<% } else if (locals.user.isAdmin == 1){ %>
				<h2>Bază de date filme</h2>
				<button id="btn"><a href="">Adaugă film</a></button>
				<table id = "admin">
					<thead>
						<td>ID</td>
						<td>Nume</td>
						<td>Gen</td>
						<td>Regizori</td>
						<td>Actori</td>
						<td>Trailer</td>
						<td>Afiș</td>
<!-- 						<td>Descriere</td> -->
						<td>Durata</td>
						<td>Limba</td>
						<td>An</td>
					</thead>
					<tbody>
						<% for (let i = 0; i < locals.moviesData.length; i++) { %>
						<tr>
							<td><%= locals.moviesData[i].id %></td>
							<td><%= locals.moviesData[i].name %></td>
							<td><%= locals.moviesData[i].genre %></td>
							<td><%= locals.moviesData[i].director %></td>
							<td><%= locals.moviesData[i].actor %></td>
							<td><a href="<%= locals.moviesData[i].trailer %>">Link</a></td>
							<td><a href="<%= locals.moviesData[i].poster %>">Link</a></td>
<!-- 							<td><%= locals.moviesData[i].desc %></td> -->
							<td><%= locals.moviesData[i].time %></td>
							<td><%= locals.moviesData[i].lang %></td>
							<td><%= locals.moviesData[i].year %></td>
						</tr>
						<% } %>
					</tbody>
				</table>
			<% } %>
		</main>
		<footer>
			
		</footer>
	</body>
</html>