<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../partials/commonLinks.ejs")%>
    <title>Confirmare rezervare</title>
	<script src = "../scripts/confirm.js"></script>
	<link href="stylesheets/confirm.css" type = "text/css" rel = "stylesheet">
</head>
<body>
    <header>
        <div class="intro">        
			<p>Cinemated</p>
			<figure>
			<img id = "logo" src = "/images/cinematedLogo.png" alt="cinemated logo" title="cinemated">
			</figure>
		</div>
    </header>
	<main>
		<div id="confirm">
			<h2>
				Confirmarea rezervarii
			</h2>
			<p> Va rugam sa verificati datele rezervarii.</p>
		</div>
		<div id="container">
			<h2>Detalii rezervare:</h2>
			<div class = "inline">
				<p>Nume client: </p> <p><%= user.name %></p>
			</div>
			<div class = "inline">
				<p>Adresa de mail:</p> <p><%= user.email %></p>
			</div>
			<div class = "inline">
				<p>Nume Film :</p> <p><%= movieData.name %></p>
			</div>
			<div class = "inline">
				<p>Data si ora:</p> <p><%= screen.data %>,<%= screen.ora %></p>
			</div>
			<div class = "inline">
				<p>Locuri rezervate:</p> 
				<ul id="selectedSeats">
				</ul>
			</div>			
			<div class = "inline">				
				<p>Nr bilete:</p>
				<span id= "NrTickets"></span>
			</div>
			<div class = "inline">
				<p>Total plata:</p><span id= "total"></span>
			</div>
		</div>
		</div>
		<form action="confirm.ejs" method="get">
		<input class='ascuns' type='text' name='idClient' value=<%= user.userId %>>		
		<!-- screen id din url
		biletele un string in javascript pe care il pun dupa in value
		-->
		<input class='ascuns' type='text' name='nrLoc'>
		<input class='ascuns' type='text' name='nrBilete'> <!--adulti,copii, split in node si decrementez-->
		<input class='ascuns' type='text' name='numeClient'>
		<input id="but" type="submit" value='Next' formaction="last">
		</form>
	</main>

</body>
<footer>
   
</footer>