<!DOCTYPE html>
<html lang="ro">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%- include("../partials/commonLinks.ejs")%>
    <title><%= movieData.name %> - Cinemated</title>
	<script src = "../scripts/film.js"></script>
    <script src="http://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <% if (locals.user) { %>
    <% if (locals.user.isAdmin) { %>
    <script src = "../scripts/delete-confirm.js"></script>
    <% } } %>
    <link href="stylesheets/film.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
    <%- include("../partials/header.ejs")%>
    </header>
    <main>
    <% if (movieData.name != "") { %>
        <div id = "movieContainer">

            <h2 id = "movieName"><%= movieData.name %></h2>

                <h2 id = "reviewContainer">
                <div>
                        <i class="far fa-star movieStars" data-index="0"></i>
                        <i class="far fa-star movieStars" data-index="1"></i>
                        <i class="far fa-star movieStars" data-index="2"></i>
                        <i class="far fa-star movieStars" data-index="3"></i>
                        <i class="far fa-star movieStars" data-index="4"></i>
                        <%= avgRaitingData %>/5
                </div>
             </h2>

            <div id = "trailerDoublewide">
                <iframe id = "trailer" src="<%= movieData.trailer %>">
                </iframe>
            </div>
            <div id = "posterDiv">
                <img id = "poster" src="<%= movieData.poster %>" alt="<%= movieData.name %>">
            </div>
            <div id = "info">
                <p id="descr"><%= movieData.desc %></p>
                <table>
                    <tr>
                        <td>Durata</td>
                        <td><%= movieData.time %> min</td>
                    </tr>
                    <tr>
                        <td>Genul filmului</td>
                        <td><%= movieData.genre %></td>
                    </tr>
                    <tr>
                        <td>Distribuție</td>
                        <td><%= movieData.actor %></td>
                    </tr>
                    <tr>
                        <td>Regizor</td>
                        <td><%= movieData.director %></td>
                    </tr>
                    <tr>
                        <td>Anul apariției</td>
                        <td><%= movieData.year %></td>
                    </tr>
                    <tr>
                        <td>Limba originală</td>
                        <td><%= movieData.lang %></td>
                    </tr>
                </table>
				<% if(user == null) { %>
					<p class = "par">Înregistrează-te acum pentru a putea cumpăra bilete!</p>
				<% } else {%>
					<% if(screenData[0].ecrID != null) { %>
						<div id="containerScreenings">
							<p>Alege ecranizarea: </p>
							<select id="selectScreening">
								<% for (var i = 0; i < screenData.length; i++) { %>
									<%- include('../partials/screeningTemplate', {screen: screenData[i]}); %>
								<% } %>
							</select>
							
							<button id="but" type="submit" formaction="choose">Rezervă</button>
							
						</div>
					<% } else { %>
						<p class = "par">Momentan, acest film nu rulează în cinematograf.</p>
					<% } if (user.isAdmin) { %>
                        <button id = "btn" onclick="sigur_film(<%= movieData.id %>)">Sterge film</a>
                    <% } %>
				<% } %>
				
            </div>
        </div>
		
		
			
    <% } else { %>
        <p id = "error">Nu ați selectat niciun film!</p>
    <% } %>


    <% if(commentData[0].username != null) { %>
        <div id = "commentsContainer">
            <h4 id = "movieName">Comentarii</h4>
            <% for (var i = 0; i < commentData.length; i++) { %>
				<%- include('../partials/commentTemplate', {comment: commentData[i]}); %>
			<% } %>
    <% } else { %>
        <p>Nu exista comentarii</p>
    <% } %>


    <div id="myModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Spune-ne parerea ta!</h2>
        </div>

        <div class="modal-body">
            <form method="post">
				
                <input id="starsInput" name = "stars">
                <label for="comment" class="required">Your message</label>
                    <textarea name="comment" id="comment" rows="10" tabindex="4" required="required"></textarea>
                <input id = "btn" type="submit" value="Submit">
          </form>
        </div>
    </div>
    </div>

    </main>
    <footer><%- include("../partials/footer.ejs")%></footer>
</body>

</html>