<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../partials/commonLinks.ejs")%>
    <title><%= movieData.name %> - Cinemated</title>
	<script src = "../scripts/film.js"></script>
    <link href="stylesheets/film.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
    <%- include("../partials/header.ejs")%>
    </header>
    <main>
    <% if (movieData.name != "") { %>
        <div id = "movieContainer">
        <h2 id = "movieName"><%= movieData.name %></h2>
            <div id = "trailerDoublewide">
                <iframe id = "trailer" src="<%= movieData.trailer %>">
                </iframe>
            </div>
            <div id = "posterDiv">
                <img id = "poster" src="<%= movieData.poster %>" alt="<%= movieData.name %>">
            </div>
            <div id = "info">
                <p id="descr"><%= movieData.desc %></p>
                <table>
                    <tr>
                        <td>Durata</td>
                        <td><%= movieData.time %> min</td>
                    </tr>
                    <tr>
                        <td>Genul filmului</td>
                        <td><%= movieData.genre %></td>
                    </tr>
                    <tr>
                        <td>Distribuție</td>
                        <td><%= movieData.actor %></td>
                    </tr>
                    <tr>
                        <td>Regizor</td>
                        <td><%= movieData.director %></td>
                    </tr>
                    <tr>
                        <td>Anul apariției</td>
                        <td><%= movieData.year %></td>
                    </tr>
                    <tr>
                        <td>Limba originală</td>
                        <td><%= movieData.lang %></td>
                    </tr>
                </table>
				<% if(screenData[0].ecrID !== null) { %>
					<div id="containerScreenings">
						<p>Alegeti ecranizarea la care doriti sa mergeti: </p>
						<select id="selectScreening">
							<% for (var i = 0; i < screenData.length; i++) { %>
								<%- include('../partials/screeningTemplate', {screen: screenData[i]}); %>
							<% } %>
						</select>
						
						<button id="but" type="submit" formaction="choose">Rezerva</button>
						
					</div>
				<% } else { %>
					<p id = "noScreening">Momentan nu exista ecranizari pentru filmul selectat.</p>
				<% } %>
				
            </div>
        </div>
		
		
			
    <% } else { %>
        <p id = "error">Nu ați selectat niciun film!</p>
    <% } %>
    </main>
    <footer><%- include("../partials/footer.ejs")%></footer>
</body>

</html>