<!DOCTYPE html>
<html lang="ro">
<head>
	<link href = "stylesheets/index.css" type = "text/css" rel = "stylesheet">
    <%- include("../partials/commonLinks.ejs")%>
    <title>Cinemated</title>

</head>
<body>
    <header>
    <%- include("../partials/header.ejs")%>
    </header>
	
    <div id = "container">
		<a href = "/film?id=<%= randMovie.id %>" class = "<%=randMovie.id %> indexMovie">
			<section>
				<h1>Recomandarea noastra</h1>
				<div class = "moviesContainer">
					<img class = "posterMovie" src = "<%= randMovie.poster %>" alt = "<%= randMovie.name %>">
					<div class = "infoDiv">
						<h2 class = "movieName"><%= randMovie.name %> (<%= randMovie.year %>)</h2>
						<p class = "des"><%= randMovie.desc %></p>
					</div>
				<div>   
			</section>
		</a>
        
        <a href = "/film?id=<%= bestReviewedMovie.id %>" class = "<%=bestReviewedMovie.id %> indexMovie">
			<section>
				<h1>Filmul cu cele mai bune review-uri</h1>
				<div class = "moviesContainer">
					<img class = "posterMovie" src="<%= bestReviewedMovie.poster %>" alt="<%= bestReviewedMovie.name %>">
					<div class = "infoDiv">
						<h2 class = "movieName"><%= bestReviewedMovie.name %> (<%= bestReviewedMovie.year %>)</h2>
						<p class = "des"><%= bestReviewedMovie.desc %></p>
					</div>
			</section>
		</a>

        <a href = "/film?id=<%= lastMovie.id %>" class = "<%=lastMovie.id %> indexMovie">
			<section>
				<h1>Urmeaza sa apara...</h1>
				<div class = "moviesContainer">
					<img class = "posterMovie" src = "<%= lastMovie.poster %>" alt = "<%= lastMovie.name %>">
					<div class = "infoDiv">
						<h2 class = "movieName"><%= lastMovie.name %> (<%= lastMovie.year %>)</h2>
						<p class = "des"><%= lastMovie.desc %></p>
					</div>
				<div>   
			</section>
		</a>

    </div>

</body>
<footer>
    <%- include("../partials/footer.ejs")%>
</footer>


</html>