<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../partials/commonLinks.ejs")%>
    <link href = "/stylesheets/limitless.css" type = "text/css" rel = "stylesheet">
    <%if (!locals.limitless || !locals.limitless.firstName){%><script src = "/scripts/limitless.js"></script> <%}
    else {%><script src = "/scripts/limitlessConnected.js"></script><%}%>
    <title>Limitless</title>

</head>
<body>
    <header>
    <%- include("../partials/header.ejs")%>
    </header>
    <div id = "limContainer">
    
    
    <%if (locals.user) {%>
        <img src = "/images/cinemated.jpg" alt = "Card Limitless" id = "card">
        
        <%if (locals.limitless && locals.limitless.lastName) {%>     
        
                <div class = "limitlessDiv">
                    <h2>Toate filmele tale preferate, ori de câte ori îți dorești!</h1>
                    <p>Mulțumim că ai ales cardul Limitless! Valabilitatea sa poate fi consultată în graficul din stânga acestui text. În acea perioadă, vei putea viziona orice film difuzat in cinema-ul nostru, fără a mai fi necesară achiziționarea unui bilet. El este deja al tău!
                        Abonamentul Limitless îți aduce nu numai posibilitatea de a te bucura oricând de filmele pe care le îndrăgesti, ci și
                        numeroase discounturi, precum 30% reducere la meniurile de popcorn și invitații la premierele noastre!
                    </p>
                
                </div>
                
                <p id = "chosenName"><%= locals.limitless.lastName%>  <%=locals.limitless.firstName%></p>
                <p id = "chosenDate"><%=locals.limitless.startDate.toString().split('T')[0]%> - <%=locals.limitless.endDate.toString().split('T')[0]%></p>
                
                <%}else {%>
                    <form method="post">
                        <h2 id = "h2Card">Informatii</h2>
                        <fieldset>
                            <legend>Detaliile clientului</legend>
                            <label><input type = "text" placeholder = "Nume..." id = "clientName" name="lastName"></label>
                            <label><input type = "text" placeholder = "Prenume..." id = "clientFirstname" name="firstName"></label>
                            <label><input type = "text" placeholder = "Adresa de email..." name = "email"></label>
                            <label><input type = "text" placeholder = "Numar de telefon..." name="phoneNumber"></label>
                        </fieldset>
                        <fieldset>
                            <legend>Tipul cardului</legend>
                            <label><input type = "radio" name = "typeOfCard" value = 'STANDARD'>Standard</label>
                            <label><input type = "radio" name = "typeOfCard" value = 'PREMIUM'>Premium</label>
                        </fieldset>
                        <fieldset>
                            <legend>Perioada de valabilitate</legend>
                            <div id = "calendarContainer">
                                <div id = "calendarHeader">
                                    <span id = "monthYear"></span>
                                </div>
                                <div id = "dates"></div>
                            </div>
                            <p id = "chosenPeriod">Perioada aleasă: <span id = "period"></span></p>
                            <input type = "hidden" name = "startDate" id = "startDate">
                            <input type = "hidden" name = "endDate" id = "endDate">
                            <input type = "hidden" name = "userId" id = "userId" value = <%= locals.user.userId%>>
                        </fieldset>
                    <button type="submit">Continuă</button>
                    </form>
    <%}} else {%>
        <img src = "/images/cinemated.jpg" alt = "Card Limitless" id = "cardNoLimitless">
        <div  class = "noLimitlessDiv">
            <h2>Alatura-te acum pentru a vedea toate filmele care iti plac, de ori de cate ori iti doresti!</h1>
            <p>Pentru o luna intreaga, vei putea viziona orice film difuzat in cinemaul nostru, fara a mai fi necesar
                sa platesti biletul inainte. El este deja al tau!
                Abonamentul Limitless iti aduce nu numai posibilitatea de a te bucura oricand de filmele pe care le indragesti, ci si
                numeroase discounturi, precum 30% reducere la meniurile de popcorn si invitatii la premierele noastre. Ce mai astepti?
            </p>

            <p>Pentru a te inscrie in programul Limitless, trebuie sa intri in cont.</p>
        
        </div>

        <%}%>
    </div>
    <p></br></br></br></br></br></br></br></br></br></br></br></br></br></br></p>

</body>
<footer><%- include("../partials/footer.ejs")%></footer>


</html>