<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../partials/commonLinks.ejs")%>
    <title>Alege locurile</title>
	<script type="text/javascript" src="https://www.goocode.net/demo/img/jquery-1.11.0.min.js"></script> 
	<script type="text/javascript" src="https://www.goocode.net/demo/seat_r/jquery.seat-charts.min.js"></script>
	<script src = "../scripts/locuri.js"></script>
	
	<link href="stylesheets/locuri.css" type = "text/css" rel = "stylesheet">
	
</head>
<body>
	<main>
	
		<div class="demo">
   		<div id="seatMap">
			<div class="front">ECRAN</div>					
		</div>
		<div class="bookingDetails">
			<p>Film: <span> <%= movieData.name %></span></p>
			<p>Data: <span><%= screen.data %>,<%= screen.ora %></span></p>
			<p>Locuri: </p>
			<ul id="selectedSeats"></ul>
			<p>Bilete: <span id="counter">0</span></p>
			<p>Total: <b><span id="total">0</span></b> lei</p>
			
			<div id="legend"></div>
			
		</div>
		<div style="clear:both"></div>
		<button id="but" class="checkoutButton" type="submit" formaction="confirm">Next</button>
		<div id="hidden">
		<% for (var i = 0; i < selectedSeats.length; i++) { %>
			<p><%=selectedSeats[i].row%>_<%=selectedSeats[i].place%></p> %>
		<% } %>
		</div>
   </div>
	</main>

</body>
<footer>
   
</footer>


</html>